.bgImage {
  background-image: linear-gradient(
      rgba(42, 57, 80, 0.8),
      50%,
      rgba(65, 67, 106, 0),
      rgba(42, 57, 80, 0.8)
    ),
    url("../../assets/images/4.jpg");
  background-size: cover;
  background-position: center;
}

.leftImage {
  position: relative;
  animation-name: moveLeft;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rightImage {
  position: relative;
  animation-name: moveRight;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveLeft {
  0% {
    left: -50px;
  }

  50% {
    left: 0px;
  }

  100% {
    left: -50px;
  }
}

@keyframes moveRight {
  0% {
    right: -70px;
  }

  50% {
    right: 0px;
  }

  100% {
    right: -70px;
  }
}
